{% extends "base.html" %} {% block content %}

<center>
  <h1>Experience</h1>
</center>
<hr />
<div>
  <h2>Education</h2>
  <div>
    <div>
      <h3>Stony Brook University</h3>
      <p>Master Of Science in Computer Science</p>
    </div>
    <div>
      <p>GPA: 3.89/4.00</p>
    </div>
  </div>
  Relevant Courses
  <ul>
    <li>Operating Systems</li>
    <li>Computer Vision</li>
    <li>Machine Learning</li>
    <li>Data Science Fundamentals</li>
    <li>Probability and Statistics</li>
  </ul>
  <div>
    <div>
      <h3>Indian Institute of Technology, Tirupati</h3>
      <p>Bachelors of Technology in Computer Science</p>
    </div>
    <div>
      <p>GPA: 8.58/10</p>
    </div>
  </div>
  Relevant Courses
  <ul>
    <li>Operating Systems</li>
    <li>Computer Networks</li>
    <li>Machine Learning</li>
    <li>Data Structures and Algorithms</li>
    <li>Database Management Systems</li>
  </ul>
</div>
<hr />
<div>
  <h2>Tech Skills</h2>
  <ul>
    <li><b>Languages:</b> C, C++, Python, Java, Javascript, SQL, NoSQL Rust</li>
    <li><b>Technologies:</b> Node.js, ReactJs, Django</li>
    <li><b>Databases:</b> MySQL, MongoDB, SQLite</li>
    <li><b>Libraries:</b> PyTorch, Tensorflow, Sci-kit Learn</li>
  </ul>
</div>

{% endblock content %}
